*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    width: 100%;
    height: 3000px;
    margin: 0 auto;
    
}
header{
    max-width: 1900px;
    height: 75px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 750px;
    height: 95px;
}

.navBar h3{
    font-weight: lighter;
    width: auto;
    height: 30px;
    font-size: 21px;
    color: white;
}
.headerBox{
    width: 150px;
    height: 95px;
    /* background-color: black; */
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px
}
#moreIcon{
    width: 20px;
    height: 20px;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 10px;
}
#mainSvg{
    max-width: 2000px;
    background-color: white;
    color: white;
    width: 25px;
    height: 25px;
}
#imgText{
    width: 200px;
    height: 200px;
    color: white;
}
h4{
    font-size: 30px;
}
section{
    max-width: 2000px;
    height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#container{
    max-width: 2000px;
    height: 2000px;
    margin: 0 auto;
    
}
#topImg{
    max-width: 2000px;
    height: 950px;
}
#contentOne{
    max-width: 2000px;
    height: 950px;
    
}
#theBand{
    max-width: 2000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
#theBand h3{
    width: 1000px;
    line-height: 40px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#theBand p{
    line-height: 40px;
    color: grey;
    font-weight: 400;
}
#theBand h2{
    font-size: 30px;
    line-height: 30px;
    
}
#nameBox{
    width: 1000px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.bandMem{
    width: 200px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.memPic{
    width: 175px;
    height: 200px;
    border-radius: 20px;
}
#tourDates{
    width: 100%;
    height: 1120px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tourHead{
    width: 1000px;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#tourHead h3{
    font-size: 55px;
    font-weight: lighter;
    letter-spacing: 10px;
}
#tourHead p{
    font-size: 25px;
    font-style: italic;
    color: grey;
}
#tourBody{
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center

}
#tourFace{
    width: 1000px;
    height: 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}
.calender{
    width: 1000px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.calender p{
    height: auto;
    margin-left: 20px;
    font-size: 23px;
    color: grey;

}
.soldOut{
    width: 150px;
    font-size: 23px;
    height: 30px;
    background-color: red;
    color: black;
    text-align: center;
}
.soldOut p{
    color: white;
}

#tourChest{
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tourAbs{
    width: 280px;
    height: 480px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.tourImg{
    width: 280px;
    height: 200px;

}

.tickets{
    width: 280px;
    height: 80px;
}
.ticketsBtn{
    background-color: black;
    color: white;
    width: 140px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
