*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    width: 100%;
    height: auto;
    margin: 0 auto;
    
}
header{
    height: 75px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 750px;
    height: 95px;
}

.navBar h3{
    font-weight: lighter;
    width: auto;
    height: 30px;
    font-size: 21px;
    color: white;
}
.headerBox{
    width: 150px;
    height: 95px;
    /* background-color: black; */
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px
}
#moreIcon{
    width: 20px;
    height: 20px;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 10px;
}
#mainSvg{
    background-color: white;
    color: white;
    width: 25px;
    height: 25px;
}
#imgText{
    width: 200px;
    height: 200px;
    color: white;
}
h4{
    font-size: 30px;
}
section{
    height: 2000px;

}
#container{
    height: 2000px;
    margin: 0 auto;

}
#topImg{
    width: 100%;
    height: 950px;
}
#contentOne{
    width: 100%;
    height: 950px;
    
}
#theBand{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#nameBox{
    width: 100%;
    height: 500px;
}
.bandMem{
    width: 200px;
    height: 350px;
}